{% extends "template.html" %}
{% block title %}Request{% endblock %}
{% include 'menu.html' %}
{% block content %}
<div class="content">
    <h2>Pedidos</h2>
    <button type="button" class="btn btn-success"
        onclick="window.location.href='{{ url_for('bp_request.request_edit') }}'"><span
            class="fas fa-plus-circle"></span> Novo Pedido</button>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Solicitante</th>
                <th scope="col">Data Solicitação</th>
                <th scope="col">Data Aprovação</th>
                <th scope="col">Data Entrega</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Jon Johnes</td>
                <td>12/01/2019 : 14:42:02</td>
                <td>12/01/2019 : 16:32:54</td>
                <td>13/01/2019 : 20:00:32</td>
                <td>Finalizado</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Jon Johnes</td>
                <td>12/01/2019 : 14:42:02</td>
                <td>12/01/2019 : 16:32:54</td>
                <td>13/01/2019 : 20:00:32</td>
                <td>Finalizado</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>Jon Johnes</td>
                <td>12/01/2019 : 14:42:02</td>
                <td>12/01/2019 : 16:32:54</td>
                <td>13/01/2019 : 20:00:32</td>
                <td>Finalizado</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}