{% extends "template.html" %}
{% block title %}Request{% endblock %}
{% include 'menu.html' %}
{% block content %}
<div class="content">
    <h2>Pedidos</h2>
    <button type="button" class="btn btn-success"
        onclick="window.location.href='{{ url_for('bp_request.request_create') }}'"><span
            class="fas fa-plus-circle"></span> Novo Pedido</button>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Solicitante</th>
                <th scope="col">Data Solicitação</th>
                <th scope="col">Data Aprovação</th>
                <th scope="col">Data Entrega</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% if requests %}
            {% for request in requests %}
            <tr>
                <th scope="row">{{ request[0] }}</th>
                <td>{{ request[7] }}</td>
                <td>{{ request[1] }}</td>
                <td>{{ request[3] }}</td>
                <td>{{ request[4] }}</td>
                <td>{{ request[2] }}</td>
                <td>
                    <input type='hidden' name='id' value='{{ request[0] }}'>
                    <a href="{{ url_for('bp_request.request_edit', id=request[0]) }}"><i class="fas fa-edit"></i></a>
                </td>
                <td><a href="{{ url_for('bp_request.request_delete', id=request[0]) }}"><i
                            class="fas fa-trash-alt"></i></a></td>
                <td><a href="{{ url_for('bp_request.report', id=request[0]) }}"><i
                            class="fas fa-file-contract"></i></a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}