{% extends "template.html" %}
{% block title %}User{% endblock %}
{% include 'menu.html' %}
{% block content %}
<div class="content">
  <h2>Usuários</h2>
  <button type="button" class="btn btn-success"
    onclick="window.location.href='{{ url_for('bp_user.user_edit') }}'"><span class="fas fa-plus-circle"></span>
    Novo Usuário</button>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Endereço</th>
        <th scope="col">Número</th>
        <th scope="col">Observação</th>
        <th scope="col">CEP</th>
        <th scope="col">Bairro</th>
        <th scope="col">Cidade</th>
        <th scope="col">Estado</th>
        <th scope="col">Telefone</th>
        <th scope="col">Email</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Maria</td>
        <td>Rua da Maria</td>
        <td>456</td>
        <td>Obs</td>
        <td>88696-120</td>
        <td>Centro</td>
        <td>Lages</td>
        <td>SC</td>
        <td>(49) 3228-9158</td>
        <td>maria@gmail.com</td>
        <td><i class="fas fa-eye"></i></td>
        <td><i class="fas fa-edit"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Maria</td>
        <td>Rua da Maria</td>
        <td>456</td>
        <td>Obs</td>
        <td>88696-120</td>
        <td>Centro</td>
        <td>Lages</td>
        <td>SC</td>
        <td>(49) 3228-9158</td>
        <td>maria@gmail.com</td>
        <td><i class="fas fa-eye"></i></td>
        <td><i class="fas fa-edit"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
      <tr>
        <th scope="row">1</th>
        <td>Maria</td>
        <td>Rua da Maria</td>
        <td>456</td>
        <td>Obs</td>
        <td>88696-120</td>
        <td>Centro</td>
        <td>Lages</td>
        <td>SC</td>
        <td>(49) 3228-9158</td>
        <td>maria@gmail.com</td>
        <td><i class="fas fa-eye"></i></td>
        <td><i class="fas fa-edit"></i></td>
        <td><i class="fas fa-trash-alt"></i></td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}