{% extends "modelo.html" %}

{% block title %}Admin - Fornecedores{% endblock %}

{% block menu %}
<li><a href="{{ url_for('admin_bp.admin_providers') }}">Fornecedores<span class="sub_icon fa fa-hand-holding-usd fa-2x"></dpan></a></li>
<li><a href="{{ url_for('admin_bp.admin_your_requests') }}">Seus Pedidos<span class="sub_icon fa fa-clipboard-list fa-2x"></span></a></li>
<li><a href="{{ url_for('admin_bp.admin_requests') }}">Pedidos<span class="sub_icon fa fa-envelope-open-text fa-2x"></span></a></li>
<li><a href="{{ url_for('admin_bp.admin_products') }}">Produtos<span class="sub_icon fa fa-box-open fa-2x"></span></a></li>
<li><a href="{{ url_for('admin_bp.admin_users') }}">Usuários<span class="sub_icon fa fa-user-friends fa-2x"></span></a></li>
{% endblock %}
{% block content %}
<h1>ADMIN</h1>
<p>FORNECEDORES</p>
{% endblock %}