{% extends "modelo.html" %}

{% block title %}Admin - Usuários{% endblock %}

{% block menu %}
<li><a href="{{ url_for('bp_admin.admin_providers') }}">Fornecedores<span class="sub_icon fa fa-hand-holding-usd fa-2x">
      </dpan></a></li>
<li><a href="{{ url_for('bp_admin.admin_your_requests') }}">Seus Pedidos<span
      class="sub_icon fa fa-clipboard-list fa-2x"></span></a></li>
<li><a href="{{ url_for('bp_admin.admin_list_requests') }}">Pedidos<span
      class="sub_icon fa fa-envelope-open-text fa-2x"></span></a></li>
<li><a href="{{ url_for('bp_admin.admin_list_products') }}">Produtos<span class="sub_icon fa fa-box-open fa-2x"></span></a>
</li>
<li><a href="{{ url_for('bp_admin.admin_list_users') }}">Usuários<span
      class="sub_icon fa fa-user-friends fa-2x"></span></a></li>
{% endblock %}
{% block content %}
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputID">Código:</label>
      <input type="text" class="form-control" id="inputID" placeholder="ID Usuário" readonly>
    </div>
    <div class="form-group col-md-6">
      <label for="inputName">Nome Usuário:</label>
      <input type="text" class="form-control" id="inputName" placeholder="Nome Usuário">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputAddress">Endereço:</label>
      <input type="text" class="form-control" id="inputAddress">
    </div>
    <div class="form-group col-md-6">
      <label for="inputNumber">Número:</label>
      <input type="text" class="form-control" id="inputNumber">
    </div>
  </div>
  <div class="form-group col-md-12">
    <label for="inputObs">Observação:</label>
    <input type="text" class="form-control" id="inputObs">
  </div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="inputCEP">CEP:</label>
      <input type="text" class="form-control" id="inputCEP">
    </div>
    <div class="form-group col-md-4">
      <label for="inputNeighborhood">Bairro:</label>
      <input type="text" class="form-control" id="inputNeighborhood">
    </div>
    <div class="form-group col-md-3">
      <label for="inputCity">Cidade:</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-3">
      <label for="inputEstado">Estado:</label>
      <select id="inputEstado" class="form-control">
        <option selected>Escolher...</option>
        <option>AC</option>
        <option>AL</option>
        <option>AP</option>
        <option>AM</option>
        <option>BA</option>
        <option>CE</option>
        <option>DF</option>
        <option>ES</option>
        <option>GO</option>
        <option>MA</option>
        <option>MT</option>
        <option>MS</option>
        <option>MG</option>
        <option>PA</option>
        <option>PB</option>
        <option>PR</option>
        <option>PE</option>
        <option>PI</option>
        <option>RJ</option>
        <option>RN</option>
        <option>RS</option>
        <option>RO</option>
        <option>RR</option>
        <option>SC</option>
        <option>SP</option>
        <option>SE</option>
        <option>TO</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputTel">Telefone:</label>
      <input type="text" class="form-control" id="inputTel">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail">Email:</label>
      <input type="email" class="form-control" id="inputEmail">
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6">
      <button type="submit" class="btn btn-secondary" style="width: 100%"><span class="fas fa-save"> Salvar</span></button>
    </div>
    <div class="col-md-6">
        <button type="submit" class="btn btn-danger" style="width: 100%"><span class="far fa-trash-alt"> Excluir</span></button>
      </div>
  </div>
</form>
{% endblock %}