<div class="header">
    <span>
        {% if 'usuario' in session %}
            <h4>{{session['usuario']}}</h4>
        {% endif %}
    </span>
</div>
<input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">
<label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
</label>

<div id="sidebarMenu">
    <ul class="sidebarMenuInner">
        <!--<form id="menuClientes" action="{{ url_for('bp_home.home') }}" method="POST">
            <li>
                <a href="javascript:;" onclick="document.getElementById('menuClientes').submit();">
                    Home<span class="sub_icon fa fa-home fa-2x"></span></a>
            </li>
        </form>-->
        <li><a href="{{ url_for('bp_home.home') }}">Home<span
                    class="sub_icon fa fa-home fa-2x"></span></a></li>
        <li><a href="{{ url_for('bp_user.user_list') }}">Usuários<span
            class="sub_icon fa fa-user-friends fa-2x"></span></a></li>
        <li><a href="{{ url_for('bp_product.product_list') }}">Produtos<span
                    class="sub_icon fa fa-box-open fa-2x"></span></a></li>
        <li><a href="{{ url_for('bp_request.request_list') }}">Pedidos<span
                    class="sub_icon fa fa-envelope-open-text fa-2x"></span></a></li>
        <li><a href="{{ url_for('bp_login.logoff') }}">Logoff<span 
                    class="sub_icon fa fa-sign-out-alt fa-2x"></span></a></li>
    </ul>
</div>
