{% extends "template.html" %}
{% block title %}Product{% endblock %}

{% include 'menu.html' %}
{% block content %}
<div class="content">
  <h2>Produto</h2>
  <form>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputID">Código:</label>
        <input type="text" class="form-control" id="inputID" placeholder="ID Produto" readonly>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputDesc">Descrição:</label>
        <input type="text" class="form-control" id="inputDesc" placeholder="Descrição do Produto">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputValue">Valor:</label>
        <input type="text" class="form-control" id="inputValue">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label for="inputDesc">Imagem:</label>
        <input type="file" class="form-control" id="inputDesc">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-secondary" style="width: 100%"><span class="fas fa-save">
            Salvar</span></button>
      </div>
      <div class="col-md-6">
        <button type="submit" class="btn btn-danger" style="width: 100%"><span class="far fa-trash-alt">
            Excluir</span></button>
      </div>
    </div>
  </form>
</div>
{% endblock %}