{% extends "template.html" %}
{% block title %}Product{% endblock %}

{% include 'menu.html' %}
{% block content %}
<div class="content">
    <h2>Produto</h2>
    <button type="button" class="btn btn-success"
        onclick="window.location.href='{{ url_for('bp_product.product_create') }}'"><span
            class="fas fa-plus-circle"></span> Novo Produto</button>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Unidade</th>
                <th scope="col">Imagem</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% if products %}
            {% for product in products%}
            <tr>
                <th scope="row">{{ product[0] }}</th>
                <td>{{ product[1] }}</td>
                <td>{{ product[2] }}</td>
                <td><img src="{{ product[4] }}"</td>
                <td><i class="fas fa-eye"></i></td>
                <td>
                    <input type='hidden' name='id' value='{{ product[0] }}'>
                    <a href="{{ url_for('bp_product.product_edit', id=product[0]) }}"><i class="fas fa-edit"></i></a>
                </td>
                <td><a href="{{ url_for('bp_product.product_delete', id=product[0]) }}"><i class="fas fa-trash-alt"></i></a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}